---
- include_role:
    name: common
    tasks_from: load-config
  vars:
    file: "{{ config_file_smb }}"
    varname: "_smb"

- name: Delete user from smb users
  dict_element_delete:
    dict: "{{ _smb.users }}"
    key: "{{ username }}"
  register: smb_users
  when: _smb.users is defined

- set_fact:
    _smb: "{ 'shares': {{ _smb.shares }}, 'users': {{ smb_users.dict | default({}) }} }"

- name:  write updated users config
  include_role:
    name: common
    tasks_from: write-config
  vars:
    file: "{{ config_file_smb }}"
    content: "{{ _smb }}"
    do_backup: yes

- include_tasks: main.yml
