---
- import_role:
    name: common
    tasks_from: install-config
  vars:
    file: smb.yml

- include_role:
    name: common
    tasks_from: get-architecture

## Needed for module docker_container
- include_role:
    name: geerlingguy.pip
  vars:
    ansible_become: yes
    ansible_become_user: root
    pip_install_packages: docker

- include_role:
    name: geerlingguy.docker
  vars:
    ansible_become: yes
    ansible_become_user: root
    docker_users: [ 'khoe' ] # requires re-log to apply
    docker_apt_arch: '{{ deb_architecture }}'

# Pull dperson/samba from Docker Hub now, saves time later
- set_fact:
    dockerfile_tag: '{{ deb_architecture }}'
  when: architecture_is_arm|bool
- set_fact:
    dockerfile_tag: aarch64
  when: architecture_is_arm|bool and deb_architecture == 'arm64'

- name: 'Pull Docker image: dperson/samba:{{ dockerfile_tag }}'
  docker_image:
    name: 'dperson/samba:{{ dockerfile_tag }}'
    source: pull
