---
- import_tasks: build-options.yml
  vars:
    - volumes: []
    # options are defined in vars/main.yml

  # Use the correct Dockerfile for the architecture; 'latest' is the default tag
- set_fact:
    dockerfile_tag: 'armhf'
  when: ansible_architecture is search('armv')

- syslogger:
    msg: "khoe: rebuilding smb container"
  no_log: yes # prevents invocation logging
- syslogger:
    msg: "share: {{ item.key }}: {{ item.value|to_json}}"
  loop: "{{ _smb.shares|dict2items}}"
  no_log: yes
- syslogger:
    msg: "users: {{ _smb.users.keys() | join(', ') | to_json }}"
  no_log: yes

- name: (Re-)create a Samba container.
  docker_container:
    name: smb
    image: 'dperson/samba:{{ dockerfile_tag }}'
    state: started
    recreate: yes
    network_mode: host
    log_driver: syslog
    ports:
      - "139:139"
      - "445:445"
      - "137:137/udp"
      - "138:138/udp"
    volumes: "{{ volumes | list }}"
    command: "{{ options | list }}"
    #volumes_from: # todo: create a data container and link it
    #  - mydata
  no_log: '{{ production }}'

- name: sleep for 2 seconds and continue with play
  wait_for: timeout=2

  # Workaround for dperson/smb not knowing/setting user's gid, resulting in files created via smb having the wrong group.
  # https://github.com/dperson/samba/issues/190)
- name: Set correct group IDs in container
  command: "docker exec -i smb bash -l -c 'groupmod -g {{ i.value.groupid }} {{ i.key }}'"
  no_log: "{{ production }}"
  loop: "{{ _smb.users | dict2items }}"
  loop_control:
    loop_var: i
