defaults:
  share:
      name: '{{ share_name }}'
      path: '{{ share_path }}'
      users: '{{ username }}'
      browsable: 'yes'
      readonly: 'no'
      writelist: ''
      guest: 'no'
      admins: 'none'
      comment: "{{ username }}''s private NAS"

  user:
      smbpsw: '{{ smbpassword | default(password) }}'
      userid: '{{ users[username].uid }}'
      group: '{{ username }}'
      groupid: '{{ users[username].gid }}'
