---
options: [
  "-r", # disable recycle bin
  "-n",
  "-w \"WORKGROUP\"",
  "-g \"force user =\"",
  "-g \"force group =\"",
  "-g \"wins support = yes\"",
  "-g \"local master = yes\"",
  "-g \"preferred master = yes\""
]
