---
- name: "Create recovery directory on disk {{ recovery_disk_label }}."
  file:
    path: "{{ target }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0700
  become: yes

- name: "Copy duply profiles of user '{{ username }}' to disk '{{ recovery_disk_label }}'"
  command: cp -r /home/{{ username }}/.duply {{ target }}
  become: yes

- name: "Write user config file: {{ target }}/{{ file_user }}."
  copy:
    content: "{{ users[username] | to_nice_yaml }}"
    dest: "{{ target }}/{{ file_user }}"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0700

- set_fact:
    shares: {}
- set_fact:
    shares: "{{ shares | combine( { username + '_' + item.key: smb.shares[username + '_' + item.key] } ) }}"
  loop: "{{ users[username].shares | dict2items }}"

- set_fact:
    smb_recovery: "{{ { 'shares': shares, 'users': smb.users[username] } }}"

- name: "Write smb config file: {{ target }}/{{ file_smb }}."
  copy:
    content: "{{ smb_recovery | to_nice_yaml }}"
    dest: "{{ target }}/{{ file_smb }}"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0700

- include_role:
    name: gpg
    tasks_from: export
  vars:
    export_path: "{{ dir_gpg }}"
