---
- name: "Load config: {{ config_path }}/{{ file }}."
  command: "cat {{ config_path }}/{{ file | mandatory }}"
  register: cat
  changed_when: false

- name: "Parse config and write to '{{ varname }}'"
  set_fact:
    '{{ varname }}': "{{ cat.stdout | from_yaml }}"
  when: cat.stdout != ""

- name: Provide empty dict (if config file is empty).
  set_fact:
    '{{ varname }}': {}
  when: cat.stdout == ""
