---
# config_path is defined in the inventory file
- name: Load config.
  command: "cat {{ config_path }}/{{ file | mandatory }}"
  register: config
  changed_when: false

- name: Parse config.
  set_fact:
    config: "{{ config.stdout | from_yaml }}"
