---
# config_path is defined in the inventory file
- name: "Write config file: {{ config_path }}/{{ file }}."
  copy:
    content: "{{ content | to_nice_yaml | default({}, true) }}"
    dest: "{{ config_path }}/{{ file | mandatory }}"
    backup: "{{ do_backup | default('no') }}"
    owner: khoe
    group: khoe
    mode: 0640
