---
# usage: ansible-playbook playbooks/gpg.yml -e task=create -e username=example2

- name: "Generate keys for user: {{ username }}."
  command: "gpg2 --batch --status-fd 1 --with-colons --passphrase {{ passphrase | default('\"\"') }} --quick-generate-key {{ keyname }}"
  register: gpg_output
  become: yes
  become_user: "{{ username }}"
  #failed_when: not( "KEY_CREATED" in gpg_output.stdout )

  # gpg2 --verbose --quick-set-expire BC5072C00D67B694BBBACE6F834D227AD42F85F0 0

- import_tasks: write-fingerprint.yml
