---
- name: "Looking for existing keys {{ keyname }}"
  command: "gpg --with-colons --list-secret-keys {{ keyname|quote }}"
  register: gpg_output
  failed_when: false
  changed_when: false

- name: "Get fingerprint from gpg output"
  set_fact:
    fingerprint: "{{ gpg_output.stdout | regex_search('[A-Z0-9]{40}', multiline=True) }}"
  when: gpg_output.stderr is not search("No secret key")

- debug:
    msg: "Found existing keys {{ keyname }}: fingerprint"
  when: fingerprint is defined


- block:

  - set_fact:
      _passphrase: '{{ passphrase|quote }}'
    when: passphrase is defined
  - set_fact:
      _passphrase: "''"
    when: passphrase is undefined

  # Gnupg does not support operations using su. Unable to ex-/import keys this way.
  # That's why all keys are managed by and stored in khoe user
  - name: "Generate keys for user: '{{ username }}'."
    shell: "echo {{ _passphrase }} | gpg2 --passphrase-fd 0 --pinentry-mode loopback --batch --status-fd 1 --with-colons --quick-gen-key {{ keyname|quote }}" # used to be: --quick-generate-key
    no_log: '{{ production }}'
    register: gpg_output

  - name: "Get fingerprint from gpg output"
    set_fact:
      fingerprint: "{{ gpg_output.stdout | regex_search('[A-Z0-9]{40}', multiline=True) }}"

  # We are currently only generating primary keys. Disable expiration.
  # https://security.stackexchange.com/questions/14718/does-openpgp-key-expiration-add-to-security
  - name: 'Never expire primary key: {{ fingerprint }}.'
    shell: 'gpg2 --verbose --quick-set-expire {{ fingerprint }} 0'
    register: gpg_output

  when: fingerprint is not defined

- block:

    - include_tasks: write-fingerprint.yml

  when: fingerprint is defined
