---
# usage:
# ansible-playbook playbooks/backup.yml -e task=setup -e username=example1 [-e "passphrase=''"] [-e share_name=username] [-e remote_name=remotename] [-e max_age=1Y] [-e max_fullbkp_age=2M] [-e max_fulls_with_incrs=2]

# ansible-playbook playbooks/backup.yml -e task=backup -e username=example1 [-e share_name=username] [-e remote_name=remotename] [-e dry_run=no]
# ansible-playbook playbooks/backup.yml -e task=restore -e username=example1 [-e share_name=username] [-e remote_name=remotename] [-e age=0D]  [-e age=2019-01-23]
# ansible-playbook playbooks/backup.yml -e task=fetch -e username=username -e "fetch_path='dir/filename'" [-e share_name=nas]  [-e remote_name=remotename] [-e age=0D]  [-e age=2019-01-23]

# ansible-playbook playbooks/backup.yml -e task=create-cronjob -e username=example1 [-e share_name=username] [-e remote_name=remotename] [-e minute=0]  [-e hour=4] [-e day=*] [-e month=*] [-e weekday=*]
# ansible-playbook playbooks/backup.yml -e task=delete-cronjob -e username=example1 [-e share_name=username] [-e remote_name=remotename]

# ansible-playbook playbooks/backup.yml -e task=status -e username=example1 [-e share_name=username] [-e remote_name=remotename]
# ansible-playbook playbooks/backup.yml -e task=list -e username=example1 [-e share_name=username] [-e remote_name=remotename] [-e age=0D]  [-e age=2019-01-23]

- hosts: khoe
  gather_facts: no

  pre_tasks:

    - include_role:
        name: common
        tasks_from: load-config
      vars:
        file: "{{ config_file_users }}"
        varname: users

    - set_fact:
        user: "{{ users[username] }}"

  tasks:

    - name: "Case: Create duply backup profile"
      block:

        - include_role:
            name: duply
            tasks_from: setup

      when: task == "setup"


    - name: "Case: Run duply backup"
      block:

        - include_role:
            name: duply
            tasks_from: backup

      when: task == "backup"


    - name: "Case: Run duply restore"
      block:

        - include_role:
            name: duply
            tasks_from: restore

      when: task == "restore"


    - name: "Case: Run duply fetch"
      block:

        - include_role:
            name: duply
            tasks_from: fetch

      when: task == "fetch"


    - name: "Case: Delete cronjob"
      block:

        - include_role:
            name: duply
            tasks_from: delete-cronjob

      when: task == "delete-cronjob"


    - name: "Case: Create cronjob"
      block:

        - include_role:
            name: duply
            tasks_from: create-cronjob

      when: task == "create-cronjob"


    - name: "Case: Get backup collection status"
      block:

        - include_role:
            name: duply
            tasks_from: status

      when: task == "status"


    - name: "Case: List files in backup"
      block:

        - include_role:
            name: duply
            tasks_from: list

      when: task == "list"
