---
# usage:
# ansible-playbook playbooks/backup.yml -e task=setup -e username=example1 [-e passphrase=] [-e share_name=username] [-e cronjob=no]
# ansible-playbook playbooks/backup.yml -e task=backup -e username=example1 [-e profile_name=username] [-e remote=s3]
# ansible-playbook playbooks/backup.yml -e task=restore -e username=example1 [-e profile_name=username] [-e remote=s3] [-e age=0D]  [-e age=2019-01-23]
# ansible-playbook playbooks/backup.yml -e task=fetch -e username=username -e "fetch_path='nas/filename'" [-e profile_name=nas] [-e remote=s3] [-e age=0D]  [-e age=2019-01-23]
# ansible-playbook playbooks/backup.yml -e task=delete-cronjob -e username=example1 [-e share_name=username]

- hosts: khoe
  gather_facts: no

  pre_tasks:

    - include_role:
        name: common
        tasks_from: load-config
      vars:
        file: "{{ config_file_users }}"
        varname: users

    - set_fact:
        user: "{{ users[username] }}"

  tasks:

    - name: "Case: Create duply backup profile"
      block:

        - include_role:
            name: duply
            tasks_from: setup

      when: task == "setup"


    - name: "Case: Run duply backup"
      block:

        - include_role:
            name: duply
            tasks_from: backup

      when: task == "backup"


    - name: "Case: Run duply restore"
      block:

        - include_role:
            name: duply
            tasks_from: restore

      when: task == "restore"


    - name: "Case: Run duply fetch"
      block:

        - include_role:
            name: duply
            tasks_from: fetch

      when: task == "fetch"


    - name: "Case: Delete cronjob"
      block:

        - include_role:
            name: duply
            tasks_from: delete-cronjob

      when: task == "delete-cronjob"
