---
- hosts: khoe
  tasks:
    #- include_role: # Install basic tools (mosh) and khoe config (currently a placeholder)
    #    name: install
    - include_role:
        name: pmount
        tasks_from: install
      vars:
        ansible_become: yes
        ansible_become_user: root

    - include_role:
        name: geerlingguy.pip
      vars:
        ansible_become: yes
        ansible_become_user: root
        pip_install_packages: docker # additional package to control containers with python

    - include_role:
        name: geerlingguy.docker
      vars:
        ansible_become: yes
        ansible_become_user: root
        docker_users: [ 'khoe' ]

    - include_role:
        name: docker-smb
        tasks_from: install

    - include_role:
        name: user
        tasks_from: install

    - include_role:
        name: gpg
        tasks_from: install
      vars:
        ansible_become: yes
        ansible_become_user: root

    - include_role:
        name: apt
        tasks_from: upgrade
      vars:
        ansible_become: yes
        ansible_become_user: root

    - include_role:
        name: oefenweb.duply
      vars:
        ansible_become: yes
        ansible_become_user: root
        duply_install: [ 'duplicity' ]
