---
# usage:
# ansible-playbook playbooks/nas.yml -e task=create -e username=example1 -e smbpassword=1234 [-e share_name=example1] [-e disk_label=label]
# ansible-playbook playbooks/nas.yml -e task=delete -e username=example1 -e share_name=example1
# ansible-playbook playbooks/nas.yml # (re)start all shares

- hosts: khoe
  gather_facts: no

  tasks:

    # Case: Create share {{ disk_label | default(share_path) }} for user '{{ username }}'"
    - block:

        - include_role:
            name: docker-smb
            tasks_from: create-share
          with_dict: "{ '{{ share_name }}': '{{ disk_label }}' }"

        - include_role:
            name: docker-smb

        # - adding duply setup here would overwrite any previous duply profile with the same name

      when: task is defined and task == "create"


    # Case: Delete share {{ disk_label | default(share_path) }}"
    - block:

        - include_role:
            name: docker-smb
            tasks_from: delete-share
          with_dict: "{ '{{ share_name }}': '' }"

        - include_role:
            name: docker-smb

      when: task is defined and task == "delete"


    # Case: {Re}start all shares
    - block:

        - include_role:
            name: docker-smb

      when: task is undefined
