---
# usage:
# ansible-playbook playbooks/nas.yml -e task=create -e username=example1 -e smbpassword=1234 [-e share_name=example1] [disk_label=label]
# ansible-playbook playbooks/nas.yml -e task=delete -e username=example1 -e share_name=example1
# ansible-playbook playbooks/nas.yml # (re-)start all shares

- hosts: khoe
  gather_facts: no

  tasks:

    # Case: Create share {{ disk_label | default(share_path) }} for user '{{ username }}'"
    - block:

        - include_role:
            name: docker-smb
            tasks_from: add-user-nas

        # - adding duply setup here would overwrite any previous duply profile with the same name

      when: task == "create"


    # Case: Delete share {{ disk_label | default(share_path) }}"
    - block:

        - include_role:
            name: docker-smb
            tasks_from: delete-nas
          with_dict: { share_name: null }

      when: task == "delete"
