---
- name: 'Look for bugged crypto module "sun4i_ss" (BananaPi)'
  shell: 'lsmod | grep sun4i_ss'
  failed_when: grep.rc > 1
  changed_when: false
  register: grep

- name: 'Blacklist bugged crypto module "sun4i_ss" (BananaPi)'
  kernel_blacklist:
    name: sun4i_ss
    state: present # means: do blacklist
  become: yes
  when: grep.rc == 0
