---
- name: '~/.profile: cd to ~/ansible on login'
  blockinfile:
    path: ~/.profile
    block: |
      echo 'cd ~/ansible'
      cd ~/ansible

- name: 'Ensure config directory is present: {{ config_path }}.'
  file:
    path: '{{ config_path | mandatory }}'
    state: directory
    owner: root
    group: khoe
    mode: 0770
  become: yes

- name: Restrict permissions on ansible.cfg
  file:
    path: /home/khoe/ansible/ansible.cfg
    mode: 0700

- name: 'Set UID min to {{ uid_min }}'
  lineinfile:
    dest: /etc/login.defs
    regexp: '^UID_MIN'
    line: 'UID_MIN			 {{ uid_min }}'
  become: yes

- name: 'Set GID min to {{ gid_min }}'
  lineinfile:
    dest: /etc/login.defs
    regexp: '^GID_MIN'
    line: 'GID_MIN			 {{ gid_min }}'
  become: yes

- name: 'Ensure group "{{ khoe_users_group }}" exists'
  group:
    name: "{{ khoe_users_group }}"
    gid: "{{ khoe_users_gid }}"
  become: yes

# Prevent ureadahead from filling up syslog
# https://askubuntu.com/questions/749224/92-of-syslog-is-filled-with-message-regarding-ureadahead-ignoring-relative-pa
- name: Remove "ureadahead" package
  apt:
    name: ureadahead
    state: absent
    purge: yes
  become: yes

- name: 'Add (cron) job "start_nas" to khoe''s crontab'
  cron:
    name: 'khoe-boot'
    job: 'cd ansible && ansible-playbook playbooks/boot.yml 2>&1 | logger -t "khoe: boot"'
    user: khoe
    state: present
    special_time: reboot

# - import_role:
#     name: common
#     tasks_from: install-config
#   vars:
#     file: khoe.yml
