khoe_users_group: khoe-users
config_path: /home/khoe/ansible/config
config_file_khoe: khoe.yml
config_file_users: users.yml
config_file_mounts: mounts.yml
config_file_smb: smb.yml

config_dir_user: /home/{{ username }}/config

disk_label: ''
shares_dirname: 'shares' # changing this will make duplicity notice a changed source path and abort (disable with --allow-source-mismatch)
shares_path: '/home/{{ username }}/{{ shares_dirname }}'
disk_label_shares_path: "/media/{{ disk_label }}/{{ username }}/{{ shares_dirname }}"
share_name: '{{ username }}'

duply_profiles_path: /home/{{ username }}/.duply
recovery_path: "/media/{{ recovery_disk_label }}/khoe/{{ username }}"
